@model BookSale.Managerment.Ui.Areas.Admin.View.Components._BootstrapModal;
@using BookSale.Managerment.Ui.Areas.Admin.Controllers
@using BookSale.Managerment.Ui.Areas.Admin.View.Components;
@{
    ViewData["Title"] = "Quản lý sách";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="title">
                <h4>Danh sách sách</h4>
            </div>
            <div class="card-action">
                <button type="button" class="redirect-button" onclick="showModal('Thêm thể loại sách', 0, '', '')">Thêm sách</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="">
            <table id="genre-table"
                   class="table table-striped table-hover"
                   data-toggle="table"
                   data-toolbar=".toolbar"
                   data-url="@Url.Action(nameof(BookController.GetBookList))"
                   data-unique-id="id"
                   data-side-pagination="server"
                   data-pagination="true"
                   data-search="true"
                   data-search-on-enter-key="true"
                   data-query-params="customParams"
                   data-loading-template="customLoading">
                <thead>
                    <tr>
                        <th data-field="id">Id</th>
                        <th data-field="code">Mã</th>
                        <th data-field="name">Tên</th>
                        <th data-field="quantity">Số lượng</th>
                        <th data-field="price">Giá</th>
                        <th data-field="genreName">Thể loại</th>
                        <th data-field="authorName">Tác giả</th>
                        <th data-field="bookTags">Thẻ</th>
                        <th data-field="createdDate">Ngày tạo</th>
                        <th data-field="updatedDate">Ngày cập nhật</th>
                        <th data-field="id" data-formatter="actionFormatter">Hoạt động</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/deletehandle.js"></script>
    <script>
        var table = $("#genre-table")

        function customParams(params) {
            return params;
        }
        function customLoading(loadingMessage) {
            return loader;
        }

        function actionFormatter(value, row, index){
            var deleteUrl = `@Url.Action(nameof(GenreController.Delete), "Genre")`
            var html = `
                <div class="table-action-btns d-flex justify-content-center align-items-center">
                    <button onclick="showModal('Cập nhật thể loại: Id = ${value}',${row.id}, '${row.name}', '${row.description}')" class="btn btn-inverse-info btn-icon-text">
                        <i class="mdi mdi-file-check btn-icon-append"></i>
                    </button>
                    <button onclick="deleteHandler(${value}, '${deleteUrl}')" class="btn btn-inverse-danger btn-icon">
                        <i class="mdi mdi-delete btn-icon-append"></i>
                    </button>
                </div>
            `;
            return html;
        }
    </script>
}