@using BookSale.Managerment.Domain.Constant
@model BookSale.Managerment.Application.DTOs.UserRequestModel

@{
  var roleList = typeof(Roles)
  .GetFields(System.Reflection.BindingFlags.Public | System.Reflection.BindingFlags.Static)
  .Select(f => new SelectListItem
  {
    Value = f.GetValue(null)?.ToString(),
    Text = f.Name // hoặc map sang tiếng Việt tùy bạn
  }).ToList();

  var errors = ViewData.ModelState["ErrorMessage"]?.Errors;
}

<form class="forms-sample" asp-action="Create" asp-controller="Account" method="post" enctype="multipart/form-data">
  @Html.AntiForgeryToken()
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tạo tài khoản mới</h4>
          <div class="form-group">
            <label for="Tole">Role</label>
            @Html.DropDownListFor(x => x.RoleName, (IEnumerable<SelectListItem>)roleList, "Chọn role",new{@class =
            "form-control"} )
            <span asp-validation-for="RoleName" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label for="UserName">Tên đăng nhập</label>
            <input type="text" class="form-control" id="UserName" asp-for="UserName" placeholder="Tên đăng nhập">
            <span asp-validation-for="UserName" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label for="FullName">Họ và tên</label>
            <input type="text" class="form-control" id="FullName" asp-for="FullName" placeholder="Họ và tên">
            <span asp-validation-for="FullName" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label for="Address">Địa chỉ</label>
            <input type="Address" class="form-control" id="Address" asp-for="Address" placeholder="Địa chỉ">
            <span asp-validation-for="Address" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label for="Email">Địa chỉ email</label>
            <input type="email" class="form-control" id="Email" asp-for="Email" placeholder="Địa chỉ email">
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label for="PhoneNumber">Số điện thoại</label>
            <input type="number" class="form-control" id="PhoneNumber" asp-for="PhoneNumber"
              placeholder="Số điện thoại">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mật khẩu</label>
            <input type="password" class="form-control" id="Password" asp-for="Password" placeholder="Mật khẩu">
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Ảnh đại diện</h4>
          <div class="form-image">
            <div class="no-image">
              <img class="img-thumbnail " alt="avatar.jpg" src="~/image/no_image.jpg" />
            </div>
            <div class="input-file-image">
              <div class=" input-group d-flex align-items-center">
                @* <input type="file"accept="image/*" class="form-control file-upload-info" placeholder="Upload Image"> *@
                <div class="file-upload-wrapper"></div>
                <button class="custom-file-upload">Chọn Tệp</button>
                <input asp-for="Avata" type="file" id="file-input" accept="image/*" />
                <span id="file-name">Chưa có tệp nào được chọn</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            @if (errors != null && errors.Count > 0)
            {
              @foreach (var error in errors)
              {
                <span class="text-danger">@error.ErrorMessage</span>
              }
            }
          </div>
          <div>
            <button type="submit" class="btn btn-primary me-2">Lưu</button>
            <a asp-action="AccountManagerment" asp-controller="Account" class="btn btn-dark">Quay lại</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
@section Scripts {
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
  <script>
    const fileInput = document.getElementById('file-input');
    const customButton = document.querySelector('.custom-file-upload');
    const fileNameSpan = document.getElementById('file-name');

    customButton.addEventListener('click', () => {
      fileInput.click();
    });

    fileInput.addEventListener('change', () => {
      if (fileInput.files.length > 0) {
        fileNameSpan.textContent = fileInput.files[0].name;
      } else {
        fileNameSpan.textContent = 'Chưa có tệp nào được chọn';
      }
    });
  </script>
}