@model BookSale.Managerment.Ui.Areas.Admin.View.Components._BootstrapModal;
@using BookSale.Managerment.Ui.Areas.Admin.Controllers
@using BookSale.Managerment.Ui.Areas.Admin.View.Components;
@{
    ViewData["Title"] = "Quản lý thể loại";
}

@await Html.PartialAsync("../Components/BootstrapModal/_BootstrapModal.cshtml", new _BootstrapModal("Save", "Genre"))

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="title">
                <h4>Danh sách thể loại</h4>
            </div>
            <div class="card-action">
                <button type="button" class="redirect-button" onclick="showModal('Thêm thể loại sách', 0, '', '')">Thêm thể loại sách</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="">
            <table id="genre-table"
                   class="table table-striped table-hover"
                   data-toggle="table"
                   data-toolbar=".toolbar"
                   data-url="@Url.Action(nameof(GenreController.GenreList))"
                   data-unique-id="id"
                   data-side-pagination="server"
                   data-pagination="true"
                   data-search="true"
                   data-search-on-enter-key="true"
                   data-query-params="customParams"
                   data-loading-template="customLoading">
                <thead>
                    <tr>
                        <th data-field="id">Id</th>
                        <th data-field="name">tên</th>
                        <th data-field="description">Mô tả</th>
                        <th data-field="id" data-formatter="actionFormatter">Hoạt động</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var table = $("#genre-table")

        function customParams(params) {
            return params;
        }
        function customLoading(loadingMessage) {
            return loader;
        }
        function deleteGanre(id)
        {
            if(id)
            {
                 Swal.fire({
                    title: 'Bạn có chắc chắn muốn xóa?',
                    text: "Hành động này không thể hoàn tác!",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'xóa',
                    cancelButtonText: 'Hủy',
                    customClass: {
                        title: 'h3 text-center text-dark', // gán class CSS tùy chỉnh
                        confirmButton: 'btn btn-success', // Thêm class Bootstrap cho confirm button
                        cancelButton: 'btn btn-danger'  // Thêm class Bootstrap cho cancel button
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        var antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();
                        console.log(antiForgeryToken)
                        var url = `@Url.Action(nameof(GenreController.Delete), "Genre")`
                        $.ajax({
                            url: url,
                            method:"POST",
                            dataType: "json",
                            headers: {
                                '__RequestVerificationToken': antiForgeryToken // Gửi dưới dạng header
                            },
                            data:{id: id},
                            success: function(respone) {
                                showToaster("Success", `${respone.message}`)
                                $(table).bootstrapTable("refresh");
                            },
                            error: function(xhr, status, error) {
                                var Response = JSON.parse(xhr.responseText)
                                showToaster("Error", `${status} ${Response.message}`)
                            }
                        })
                    }
                });
            }
        }

        function actionFormatter(value, row, index){
            var html = `
                <div class="table-action-btns d-flex justify-content-center align-items-center">
                    <button onclick="showModal('Cập nhật thể loại: Id = ${value}',${row.id}, '${row.name}', '${row.description}')" class="btn btn-inverse-info btn-icon-text">
                        <i class="mdi mdi-file-check btn-icon-append"></i>
                    </button>
                    <button onclick="deleteGanre(${value})" class="btn btn-inverse-danger btn-icon">
                        <i class="mdi mdi-delete btn-icon-append"></i>
                    </button>
                </div>
            `;
            return html;
        }
    </script>
}