@model BookSale.Managerment.Ui.Areas.Admin.View.Components._RedirectButtonModel

<a class="redirect-button" asp-action="@Model.RedirectAction"
  asp-controller="@Model.RedirectController">@Model.Title</a>